@import "../../../../../assets//scss//media";

#timeline-tab-pane {
    width: 100%;
    //background-color: #00c792;
    .left-content {
        padding-right: 1rem;
        [class*="card-"] {
            background: var(--white);
            padding: 1.5rem 1.5rem 1rem 1.5rem;
            margin-bottom: 1.2rem;
            border-radius: 10px;
            box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
        }
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px 1rem 10px;
            border-bottom: 1px solid var(--border-light);
            h5 {
                font-weight: 500;
            }
            a {
                text-decoration: none;
                color: none;
            }
        }
        .card-list-friend {
            .list-friend {
                margin-top: 10px;
                padding: 5px 0px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax((calc(100% / 3)), (calc(100% / 3))));
                .item-friend {
                    //padding: 5px 0px;
                    margin: 5px 5px;
                    //height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 99%;
                        height: 76%;
                        object-fit: cover;
                        //border-radius: 5px;
                        //border: 1px solid var(--border-light);
                    }
                    p {
                        width: 100%;
                        text-align: center;
                        margin-top: 5px;
                        font-weight: 500;
                        font-size: 1rem;
                        color: var(--title-text);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .card-gallery {
            .list-images {
                overflow: hidden;
                // max-height: 350px;
                margin-top: 10px;
                padding: 10px 0px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax((calc(100% / 3)), (calc(100% / 3))));

                .item-image {
                    width: 100%;
                    height: 90px;
                    overflow: hidden;
                    object-fit: cover;
                    @include sm {
                        height: 150px;
                    }
                    @include md {
                        height: 200px;
                    }
                    @include lg {
                        height: 110px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .right-content {
    }
}
