#loading {
  background-color: #f8f9fa;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden !important;
  right: 0;
  z-index: 1080;
  transition: all 0.4s ease;
}
#loading-center {
  background: url(../../../public/images/logo.png) no-repeat scroll center center;
  -webkit-background-size: 20% 20%;
  background-size: 20%;
  width: 100%;
  height: 100%;
  position: relative;
   transition: all 0.4s ease;
}