.create-post-dropdown {
    .modal-content {
        padding: 1rem 1.2rem;
        .modal-header {
            display: flex;
            justify-content: space-around;
            h1 {
                flex-grow: 1;
                font-weight: 500;
                text-align: center;
            }
        }
        .modal-body {
            form {
                :where(textarea, button) {
                    width: 100%;
                    outline: none;
                    border: none;
                }
                .info-user {
                    padding: 0.5rem 0rem;
                    display: flex;
                    align-items: center;
                    img {
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                    }
                    .details {
                        margin-left: 10px;
                        h5 {
                            font-weight: 500;
                        }
                        .privacy {
                            display: flex;
                            height: 25px;
                            cursor: pointer;
                            padding: 0 10px;
                            font-size: 11px;
                            margin-top: 3px;
                            border-radius: 5px;
                            align-items: center;
                            max-width: 98px;
                            background: #e4e6eb;
                            justify-content: space-between;
                            span {
                                margin-top: 1px;
                                font-weight: 500;
                            }
                            i:last-child {
                                font-size: 13px;
                                margin-left: 1px;
                            }
                        }
                    }
                }
                .content {
                    padding: 0.5rem 0rem;
                    max-height: 360px;
                    overflow-y: scroll;
                    overflow-x: none;
                    transition: all 0.3s ease;
                    textarea {
                        //background: red;
                        font-size: 1rem;
                        resize: none;
                        min-height: 60px;
                        overflow-y: hidden;
                        &:focus::placeholder {
                            color: #b3b3b3;
                        }
                    }
                    .upload-image {
                        position: relative;
                        width: 100%;
                        height: 260px;
                        cursor: pointer;
                        input {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            cursor: pointer;
                        }
                        .add-files {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            border: 2px dashed #b3b3b3;
                            border-radius: 5px;
                            .title {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                .img-gallery {
                                    position: relative;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    background: var(--border-light);
                                    img {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translateX(-50%) translateY(-50%);
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                                h6 {
                                    margin-top: 5px;
                                    font-weight: 600;
                                }
                            }
                        }
                        .img-upload {
                            position: relative;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            border: 2px dashed #b3b3b3;
                            border-radius: 5px;
                            img {
                                width: 100%;
                                padding: 10px;
                            }
                        }
                    }
                }
                ::-webkit-scrollbar-track {
                    border-radius: 20px;
                }

                ::-webkit-scrollbar {
                    width: 4px;
                }

                ::-webkit-scrollbar-thumb {
                    border-radius: 20px;
                    background-color: none;
                    transition: all 0.3s ease;
                }
                &:hover {
                    ::-webkit-scrollbar-thumb {
                        background-color: #b3b3b3;
                    }
                }
            }
        }
        .modal-footer{
            border-top: none;
            display: flex;
            flex-direction: column;
            .options{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #b3b3b3;
                padding: 12px 15px;
                border-radius: 5px;
                p{
                    margin-bottom: 0px;
                    flex-grow: 2;
                    font-weight: bold;
                }
                ul.list{
                    flex-grow: 2;
                    margin-bottom: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .btn-post{
                width: 100%;
                padding: 12px 0px;
                border: 0px;
                border-radius: 5px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            .btn-post-unable{
                color: #BCC0C4;
                cursor: no-drop;
            }
            .btn-post-enable{
                color: var(--white);
                background-color: var(--primary);
            }
        }
    }
}