@import "../../../assets/scss/media";

.forgot-password-page {
    .step-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        .multi-step {
            margin-bottom: 2.5rem;
            position: relative;
            width: 65%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > [class*="step-"] {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                &:last-child {
                    flex-grow: 0;
                }
                .progress-w {
                    width: 100%;
                    margin: 0px 1.2rem;
                    height: 2.8px;
                    background-color: rgba(#a09e9e, 0.5);
                    overflow: hidden;
                }
                .progress-w.complete {
                    position: relative;
                    overflow: hidden;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        top:0;
                        left: 0;
                        overflow: hidden;
                        animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
                        background-color: var(--primary);
                    }
                }
                .btn-step {
                    position: relative;
                    .badge-step {
                        width: 2.3rem;
                        height: 2.3rem;
                        line-height: 2.3rem;
                        text-align: center;
                        background-color: rgba(#a09e9e, 0.5);
                        color: var(--white);
                        font-weight: 500;
                        border-radius: 50%;
                    }
                    .badge-step.complete {
                        background-color: var(--primary);
                    }
                    // &:after {
                    //     position: absolute;
                    //     content: "";
                    //     top: 50%;
                    //     left: 50%;
                    //     transform: translate(-50%, -50%);
                    //     width: 135%;
                    //     height: 135%;
                    //     border-radius: 50%;
                    //     border: 2px solid rgba(#a09e9e, 0.5);
                    // }
                }
            }
            > [class*="step-"].active {
                .btn-step {
                    .badge-step {
                        background-color: var(--primary);
                    }
                    &:after {
                        border: 2px solid var(--primary);
                    }
                }
                // .progress-w{
                //     background-color: var(--primary);
                // }
            }
        }

        .content {
            padding: 0px 20px;
            width: 88%;
            height: 100%;
            min-height: 450px;
            background-color: var(--white);
            box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            > .step-content {
                //background-color: antiquewhite;
                > .title {
                    padding: 2rem 0px;
                    text-align: left;
                    .subject {
                        font-size: 1.2rem;
                    }
                    > p {
                        font-size: 1rem;
                    }
                }
                > form {
                    > .submit {
                        display: flex;
                        justify-content: right;
                        > .btn-submit-01 {
                            width: 9rem;
                            height: 3rem;
                            font-size: 0.95rem;
                        }
                    }
                }
            }
        }

        .btn-navigate {
            margin-top: 2rem;
            width: 88%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;
            .btn-previous-step,
            .btn-next-step {
                position: relative;
                width: 6rem;
                height: 2.8rem;
                line-height: 2.15rem;
                background-color: var(--primary);
                border-radius: 4px;
                transition: all 0.3s ease;
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: var(--white);
                }
                &:hover {
                    background-color: var(--primary-dark);
                }
            }
        }
        .btn-navigate-step-1 {
            justify-content: right;
        }
    }
}
