.card-change-avatar {
    .upload-image {
        margin: 50px 0px 0px 0px;
        position: relative;
        overflow-y: scroll;
        overflow-x: none;
        width: 100%;
        border: 2px dashed #b3b3b3;
        border-radius: 5px;
        max-height: 50vh;
        cursor: pointer;
        input {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            cursor: pointer;
        }
        .add-files {
            position: relative;
            width: 100%;
            height: 40vh;
            // border: 2px dashed #b3b3b3;
            // border-radius: 5px;
            .title-files {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .img-gallery {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: var(--border-light);
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        width: 25px;
                        height: 25px;
                    }
                }
                h5 {
                    margin-top: 5px;
                    font-weight: 500;
                }
            }
        }
        .img-upload {
            position: relative;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            //height: 100%;
            object-fit: cover;
            overflow: hidden;
            img {
                width: 50%;
                object-fit: cover;
                padding: 10px;
                border-radius: 5px;
                transform: scale(0.8);
            }
        }
    }
    .footer {
        padding: 50px 0px;
        position: relative;
        width: 100%;
        .btn-save-change {
            position: absolute;
            right: 0;
            cursor: pointer;
            text-align: center;
            border-radius: 5px;
            width: 160px;
            height: 46px;
            line-height: 45px;
            background-color: #00c792;
            transition: all 0.3s ease;
            p {
                font-size: 0.9rem;
                color: var(--white);
                font-weight: 600;
            }
            &:hover {
                background-color: rgba(0, 199, 146, 0.8);
            }
        }
    }

    ::-webkit-scrollbar-track {
        border-radius: 20px;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: none;
        transition: all 0.3s ease;
    }
    &:hover {
        ::-webkit-scrollbar-thumb {
            background-color: #b3b3b3;
        }
    }
}
