@import "../../assets/scss/media";

.page-member-profile {
    width: 100%;
    .profile-header {
        //padding: 0px 2.14rem;
        .banner-cover {
            position: relative;
            width: 100%;
            .background-image {
                position: relative;
                width: 100%;
                max-height: 400px;
                min-height: 400px;
                height: 55vh;
                object-fit: cover;
                overflow: hidden;
                border-radius: 5px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .blur {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
                    // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
                }
            }
            .container {
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 100%;
                .user-profile {
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 30px;
                    @include md {
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    .img-user {
                        //background-color: #365493;
                        position: relative;
                        width: 145px;
                        height: 145px;
                        .img-url {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 120px;
                            height: 120px;
                            border: 5px solid var(--white);
                            border-radius: 50%;
                            object-fit: cover;
                            overflow: hidden;
                            img {
                                overflow: hidden;
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        &::after {
                            content: url(../../../public/images/border-avt.png);
                            position: absolute;
                            transform: scale(0.99);
                            //width: 90%;
                            // height: 100%;
                            border-radius: 50%;
                            top: 0.5px;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }

                    .profile-detail {
                        //background-color: #00c792;
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        @include md {
                            width: 80%;
                            text-align: start;
                            margin-left: 30px;
                        }
                        @include lg {
                            width: 85.5%;
                        }

                        .profile-name {
                            .username {
                                p {
                                    font-weight: 600;
                                    font-size: 21px;
                                }
                                @include md {
                                    p {
                                        font-size: 25px;
                                    }
                                }
                            }
                            .email-address {
                                //padding-top: 5px;
                                span {
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                            }
                        }
                        .profile-interaction {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 1rem;
                            @include md {
                                align-items: start;
                                justify-content: start;
                            }
                            @include lg {
                                //width: 100%;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                            }
                            ul.list-social-link {
                                padding-left: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @include md {
                                    justify-content: start;
                                }
                                li {
                                    position: relative;
                                    width: 36px;
                                    height: 36px;
                                    background: #00c792;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    a {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        i {
                                            color: var(--white);
                                            font-size: 14px;
                                        }
                                    }
                                }
                                li.facebook {
                                    background-color: #365493;
                                }
                                li.instagram {
                                    background: linear-gradient(
                                        45deg,
                                        #f09433,
                                        #e6683c 25%,
                                        #dc2743 50%,
                                        #cc2366 75%,
                                        #bc1888
                                    );
                                }
                                li.google {
                                    background-color: #c0392b;
                                }
                                li.dribble {
                                    background-color: #ec407a;
                                }
                                li.youtube {
                                    background-color: #ea2027;
                                }
                            }
                            .connect {
                                .list-btn {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: end;
                                    margin-top: 2.14rem;
                                    @include lg{
                                        margin-top: 0px;
                                    }
                                    .btn-connect {
                                        margin-right: 10px;
                                        padding: 0px 1.6rem;
                                        height: 3rem;
                                        border-radius: 5px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: #365493;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        p {
                                            font-size: 0.95rem;
                                            color: var(--white);
                                            font-weight: 600;
                                        }
                                    }
                                    .btn-message {
                                        position: relative;
                                        width: 3rem;
                                        height: 3rem;
                                        border-radius: 5px;
                                        background-color: var(--border-light);
                                        transition: all 0.3s ease;
                                        i {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            font-size: 1.2rem;
                                            color: #222;
                                            transition: all 0.3s ease;
                                        }
                                        &:hover {
                                            background-color: var(--primary);
                                            i{
                                                color: #fff;
                                            }
                                        }
                                    }
                                    .btn-confirm,
                                    .btn-add-friend {
                                        background-color: #00c792;
                                        transition: all 0.3s ease;
                                        &:hover {
                                            background-color: rgba(#00c792, 0.8);
                                        }
                                    }
                                    .btn-reject,
                                    .btn-cancel-request,
                                    .btn-unfriend {
                                        background-color: var(--remove);
                                        &:hover {
                                            background-color: rgba(#d63031, 0.8);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .profile-body {
        padding: 40px 0px;
        .menu {
            position: relative;
            width: 100%;
            background-color: var(--white);
            padding: 0px 1.5rem;
            box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
            height: 90px;
            border-radius: 5px;
            align-items: center;
            .tab-menu {
                width: 100%;
                height: 100%;
                ul {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    li,
                    [class*="tab-"] {
                        margin-right: 10px;
                        [class*="btn-tab-"] {
                            position: relative;
                            color: #6f7f92;
                            font-weight: 500;
                            font-size: 1.05rem;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: 0px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 2px;
                                background-color: #6f7f92;
                                transition: all 0.3s ease;
                            }
                            &:hover {
                                &::before {
                                    content: "";
                                    position: absolute;
                                    bottom: 0px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 50%;
                                    height: 2px;
                                    border-radius: 10px;
                                    background-color: #6f7f92;
                                    transition: all 0.3s ease;
                                }
                            }
                        }
                        [class*="btn-tab-"].active {
                            color: var(--title-text);
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: 0px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 50%;
                                height: 2px;
                                border-radius: 10px;
                                background-color: var(--title-text);
                            }
                        }
                    }
                }
            }
        }
        .tab-content {
            margin-top: 40px;
            //padding: 10px;
            width: 100%;
            .tab-pane {
            }
        }
    }
}
